{% extends 'base.html.twig' %}

{% block title %}Task List{% endblock %}

{% block body %}
<div class="container">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        Current Tasks
      </div>
      <div class="panel-body">
        <table id="task-table" class="table table-striped">
          <thead>
            <tr>
              <th>Task</th>
              <th class="action">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr>
              <td>
                {# リンク先を編集画面にする #}
                <a href="{{ path('task_edit', { 'id': task.id }) }}">
                  {{ task.name }}
                </a>
              </td>
              <td class="action">
                {# TODO一覧で削除出来るようFormを追加 #}
                <form action="{{ path('task_delete', {'id': task.id}) }}" method="post">
                  {# HTTPのDELETEメソッドを指定 #}
                  <input type="hidden" name="_method" value="DELETE">
                  {# CSRF対策のトークンを生成 #}
                  <input type="hidden" name="_token" value="{{ csrf_token('delete_task') }}">

                  <input class="btn btn-danger" type="submit" value="Delete"/>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <a class="btn btn-primary" href="{{ path('task_new') }}">Create a new task</a>
  </div>
</div>
{% endblock %}